.hero {
  height: 100vh; /* 100% of viewport height */
  background-image: url('../images/account.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

/* Container styles */
.container {
  padding-top: 150px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
}

/* Profile card styles */
.profile-card {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  margin: 40px;
  color: #333;
}

/* Additional content styles */
.addncon {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.myaccount {
  margin: 0px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyer_seller {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_address {
  margin: 10px;
}

.main_profile_parent {
  display: flex;
  flex-direction: column;
}

/* Styling for right column (wishlist) */

.wishlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wishlist-title {
  font-size: 24px;
  color: #fff;
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.wishlist-container {
  background-color: #fff;
  border-radius: 20px;
  max-width: 350px;
  margin: 20px auto; /* Set auto margin for center alignment */
  display: flex;
  justify-content: center; /* Center-align the content within each container */
  align-items: center; /* Center-align vertically within each container */
}

.wishprod {
  width: 300px; /* Set a fixed width for each item */
  height: 200px; /* Set a fixed height for each item to make them square-shaped */
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(254, 230, 196, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wishprod img {
  max-width: 100%;
  max-height: 50%;
  border-radius: 20px;
  object-fit: cover;
}

.wishcont a:first-of-type {
  font-weight: bold;
}

.wishcont a:last-of-type {
  color: #666;
}

.wishprod button {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}

.wishprod button:hover {
    background-color: #fff;
    color: #333;
    border:1px solid #333;
        transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.wishprod + .wishprod {
  margin-top: 10px;
}