.maincontent {
	background-color: #ded5cd;
	margin-top: -50px;
}
.container {
	max-width: 375px;
	margin: 0 auto;
	margin-top: 150px;
	margin-left: 250px;
	background: #fff;
	padding: 90px;
}
h1 {
	margin-top: -10px;
	font-family: 'Museo', sans-serif;
}
form {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
    border: 1pt solid #e8e8e8;
	border-radius: 10px;
	padding: 50px;
}
label,select {
	margin-bottom: 5px;
    font-family: 'Nunito', sans-serif;
}
label {
	font-weight:bold;
} 
input[type="email"],
input[type="password"],select {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	font-size: 16px;
}
input[type="password"]:hover, input[type="email"]:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
button {
	background: #f1972f;
	color: black;
	padding: 15px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-family: 'Museo', sans-serif;
	font-style: normal;
}
button:hover {
	background-color: #f1972f ;
}
p {
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;
}
a {
	text-decoration: none;
	font-style: italic;
	font-family: 'Nunito', sans-serif;
}
a:hover {
	text-decoration: underline;
}

.FOOTER{
  color: #fff;
  background-color: #333;
}

.FOOTER ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 15%;
  padding: 10px 0px;

}

.FOOTER ul li{
  text-decoration: none;
  list-style-type: none;
}

.FOOTER ul a{
  text-decoration: none;
  color: #ffffff;
}
.FOOTER .footer_rights{
  /* margin: 10px 0px; */
  padding: 10px 0px;
  text-align: center;
}
.FOOTER hr{
  background-color: #000000;
}