/* body{
    background-color: rgba(250, 235, 215,0.5);
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    
} */
body{
    background-color: black;
}

.hero{
    height: 100vh; /* 100% of viewport height */
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.hero::before {
    content: "";
    background:rgba(0, 0, 0,0.6);
    background: rgba(23, 42, 38, 0.718); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.all_contenthero{
    
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    /* background-color: rgba(0, 0, 0,0.6); */
}
/* .all_contenthero::before{
    filter: blur(2px);

} */

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Set the text color to your preference */
}


.featured-products {
    display: flex;
    flex-direction: row;  
    align-items: center; /* Center-align horizontally */
    text-align: center; /* Center-align text within products */
}

/* Style for individual product elements */
.product {
    display: flex;
    margin: 10px; /* Add spacing between products */
    padding: 10px;
    border: 2px solid #333; /* Add a 2px solid border with a dark color */
   
    border-radius: 20px;
    width: 150px; /* Limit the maximum width of each product */
    background-color: #ebe8dd;
}
.prodshit{
    text-align: center;
}



.heading{
    margin-top: 30px;
    margin-left:0px;
    text-align: center;
    font-family: 'Kaushan Script';
    font-style: normal;

}


.category button {
background-color: #e44d20;
color: #fff;
padding: 10px 20px;
border: none;
cursor: pointer;
position: absolute;
top: 150px;
right: 1000px;
}



button {
    background-color: #ded5cd;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
/* .addtocart1 button:hover, .addtocart2 button:hover, .addtocart3 button:hover,.addtocart4 button:hover, .addtocart5 button:hover, .addtocart6 button:hover, .addtocart7 button:hover, .addtocart8 button:hover, .addtocart9 button:hover {
    transform:scale(1.15);
    z-index:2;
} */
/* #loginbutton:hover{
    transform:scale(1.15);
    z-index:2;
} */
.cat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ded5cd;
    width: 20%;
    margin: 0 auto;
    border-radius: 5px;
}
/* .an_product{
    background-color: #ebe8dd;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border: 2px solid #333; 
   
    border-radius: 20px;
}

.all_products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.an_product img{
    border: 2px solid #333; 
    
    border-radius: 20px;
}
.an_product .product_price{
    font-size: 30px;
    color: black;
} */

/* Style for product cards */
.an_product {
    background-color: #ffead7;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Center vertically, space between elements */
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    /* border: 2px solid #333; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: transform 0.2s ease; /* Add a smooth hover effect */
}



/* Style for product images */
.an_product img {
    /* border: 2px solid #333; */
    border-radius: 20px;
    max-width: 100%; /* Ensure images do not exceed the card width */
}

/* Style for product prices */
.an_product .product_price {
    font-size: 30px;
    font-weight: bold; /* Make the price text bold */
    color: #333; /* Darken the price text color */
}

/* Style for the container of all products */
.all_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Add space between product cards */
    margin: 20px;
}
.an_product button{
    background-color: #333;
    color: white;
}
.an_product button:hover{
    background-color: transparent;
    color: #333;
    border:1px solid #333;
    /* width: 200px; */
}
.an_product form input{
    margin-top: 20px;
}

.CATEGORIES{
    margin:100px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.category{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid #333; /* Add a 2px solid border with a dark color */
   
    
}
.herosports{
    height: 100vh; /* 100% of viewport height */
    background-image: url('../images/sportsbg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.herosports::before {
    content: "";
    background:rgba(0, 0, 0,0.6);
    background: rgba(23, 42, 38, 0.718); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.all_contentsports{
   
    background-image: url('../images/sportsbg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.herobooks{
    height: 100vh; /* 100% of viewport height */
    background-image: url('../images/books.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.herobooks::before {
    content: "";
    background:rgba(0, 0, 0,0.6);
    background: rgba(23, 42, 38, 0.718); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.all_contentbooks{
   
    background-image: url('../images/books.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}

/* .herobooks::before {
    content: "";
    background:rgba(0, 0, 0,0.6);
    background: rgba(23, 42, 38, 0.718);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.heroelec{
    height: 100vh; /* 100% of viewport height */
    background-image: url('../images/electronicsbg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.heroelec::before {
    content: "";
    background:rgba(0, 0, 0,0.6);
    background: rgba(23, 42, 38, 0.718); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.all_contentelec{
   
    background-image: url('../images/electronicsbg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.heromen{
    height: 100vh; /* 100% of viewport height */
    background-image: url('../images/mens.jpg');

    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.heromen::before {
    content: "";
    background:rgba(0, 0, 0,0.6);
    background: rgba(23, 42, 38, 0.718); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.all_contentmen{
   
    background-image: url('../images/mens.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}

.herowomen{
    height: 100vh; /* 100% of viewport height */
    background-image: url('../images/freestocks-_3Q3tsJ01nc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.herowomen::before {
    content: "";
    background:rgba(0, 0, 0,0.6);
    background: rgba(23, 42, 38, 0.718); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.all_contentwomen{
   
    background-image: url('../images/freestocks-_3Q3tsJ01nc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}

.heromisc{
    height: 100vh; /* 100% of viewport height */
    background-image: url('../images/misc.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.heromisc::before {
    content: "";
    background:rgba(0, 0, 0,0.6);
    background: rgba(23, 42, 38, 0.718); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.all_contentmisc{
   
    background-image: url('../images/misc.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}

.heroused{
    height: 100vh; /* 100% of viewport height */
    background-image: url('../images/used.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}
.heroused::before {
    content: "";
    background:rgba(0, 0, 0,0.6);
    background: rgba(23, 42, 38, 0.718); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.all_contentused{
   
    background-image: url('../images/used.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0,0.6);
}

.cat {
    width: 30%;
    background: rgba(255, 255, 255,0.9);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}