.maincontent {
	background-color: #ded5cd;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 90px;
	padding-bottom: 50px;
	background-color: #fff;  
	margin-bottom: 20px;         
}
h1 {
	margin-top: -50px;
	text-align: center;
	font-family: 'Museo', sans-serif;
}
form {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	border: 1pt solid #e8e8e8;
	border-radius: 10px;
	padding: 50px;
}
label {
	margin-bottom: 5px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}
input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"] {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
}
input[type="password"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="text"]:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
select {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
}
select:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.signupbutton {
	padding: 10px;
	background: #f1972f;
	font-weight: normal;
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	cursor: pointer;
}
.signupbutton:hover {
	background-color: #f58300 ;
}
p {
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;
}
.container a{
	text-decoration: none;
	font-style: italic;
	font-family: 'Nunito', sans-serif;
}
.container a:hover {
	text-decoration: underline;
}

.FOOTER{
  color: #fff;
  background-color: #333;
}

.FOOTER ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 15%;
  padding: 10px 0px;

}

.FOOTER ul li{
  text-decoration: none;
  list-style-type: none;
}

.FOOTER ul a{
  text-decoration: none;
  color: #ffffff;
}
.FOOTER .footer_rights{
  /* margin: 10px 0px; */
  padding: 10px 0px;
  text-align: center;
}
.FOOTER hr{
  background-color: #000000;
}
.overlayP {
	display: none;
	
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	/* padding: 30px; */
  }
  .overlayP .close-btn{
	text-align: center;
  }
  
  .overlayTC {
	display: none;
	
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	/* padding: 30px; */
  }
  .overlayTC .close-btn{
	text-align: center;
  }
  .dialog-boxTC{
	/* margin-top: 150px; */
	overflow-y: scroll;
	background-color: #fff;
	padding: 50px;
	height: 380px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-align: left; /* Adjusted for terms and conditions content */
	max-width: 800px; /* Adjusted for terms and conditions content */
  }
  .dialog-boxP {
	/* margin-top: 150px; */
	overflow-y: scroll;
	background-color: #fff;
	padding: 50px;
	height: 200px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-align: left; /* Adjusted for terms and conditions content */
	max-width: 800px; /* Adjusted for terms and conditions content */
  }
  
  .close-btn {
	cursor: pointer;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
  }
  .FOOTER button{
	background:transparent;
	color: #fff;
	border: none;
  }