{% extends "base.html" %}
{% block head%}
<link rel="stylesheet" href="../static/style/account.css">{% endblock %}
{% block title %}Account{% endblock %}

{% block content %}

<div class="hero">
    <br>
    <br>
    <div class="centered-text">
        <!-- <h2 class="text" id="text1">Fashion, Beauty, Home – All in One Place</h2><br> -->
        <!-- <h2 class="text" id="text2">My Account</h2> -->
        <!-- HTML !-->
        <!-- <button class="button-57" role="button"><span class="text">EXPLORE</span><span>SHOP NOW</span></button> -->
        <div class="ACCOUNT">


            <div class="container">

                <div class="myaccount">


                    
                    <div class="profile-card">
                        <div class="profile-header"><!-- profile header section -->
                            <div class="main-profile">
                                <!-- <div class="profile-image"><img src="../static/images/riddhi.jpg" alt="" height="100px">
                                </div> -->
                                <div class="main_profile_parent">


                                    <div class="profile-compo">
                                        <a class="username">{{profile_details[0][0]}} {{profile_details[0][1]}} </a>

                                        <div class="buyer_seller">

                                            <small class="buyer_seller_text">{{user_type}}</small><img
                                                src="../static/images/shopping-cart.png" height="25px" alt="">
                                        </div>
                                        <br>
                                        <!-- <small class="page-title">{{profile_details[0][2]}}</small>
                                        <small class="page-title">{{profile_details[0][3]}}</small> -->
                                    </div>
                                    <div class="addncon">


                                        <div class="profile-compo">
                                            <div><img src="../static/images/contact-mail.png" height="25px" alt="">
                                            </div>

                                            <small class="page-title"><a
                                                    href="{{profile_details[0][4]}}">{{profile_details[0][4]}}</a></small><br>
                                            <small class="page-title">{{profile_details[0][5]}}</small>
                                        </div>
                                        <div class="profile-compo">
                                            <div class="profile_address">
                                                <div><img src="../static/images/address.png" height="25px" alt=""></div>
                                                <div class="area">
                                                    {{address[0][0]}}
                                                </div>
                                                <div class="pincodeandcity">
                                                    <div class="pincode">
                                                        {{address[0][1]}}
                                                    </div>
                                                    <div class="city">
                                                        {{address[0][2]}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="myacc">
                        <h1 class="rotate-90">MY ACCOUNT</h1>
                    </div>
                </div>
                
            </div>
            
        </div>
        


    </div>
    
</div>
{% if user_type=="customer" %}
<div class="wishList">
    <h1 class="wishlist-title">MY WISHLIST</h1><br>
    <div class="wishlist-container">
        <div class="wishlist">
            {% for product in wishlist_items %}
                <div class="wishprod">
                    <img class="product-image" src="{{product[2]}}" alt="{{product[1]}}">
                    <div class="wishcont">
                        <h2 class="product-name">{{product[1]}}</h2>
                        <p class="product-details">Price: {{product[3]}}</p>
                        <form action="/remove_from_wishlist/{{ product[0]}}" method="POST">
                            <button type="submit" class="remove-button">Remove</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %} 
{% endblock %}