{% extends "base.html" %} 
{% block head%}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Museo">
<link rel="stylesheet" href="../static/style/checkout.css">{% endblock %}
{% block title %}Mail{% endblock %} 

{% block content %}
<div class="hero">
    <div class="centered-text">
        <!-- <h2 class="text" id="text1">Fashion, Beauty, Home – All in One Place</h2><br> -->
        <h2 class="text" id="text2">Checkout</h2>
        <!-- HTML !-->
        <!-- <button class="button-57" role="button"><span class="text">EXPLORE</span><span>SHOP NOW</span></button> -->


    </div>
</div>

<section class="featured-products">
    <div class ="heading">
    </div>
    {% for product in products%}
        <div class="prodshit">
            <a>Product Name: <a>{{product[3]}}<br>
            <a>Quantity of product: </a>{{product[1]}}<br>
            <a>Price: </a>{{product[2]}}
            <br>
        </div>
        <img src="{{product[4]}}" alt="{{product[0]}}">
    {% endfor %}
    <div class="Amount">
        <h2>Total Amount : {{sum[0][0]}}</h2>
    </div>   
</section>

<div class="gridhaha">


    <div class="methodofpayment">
        <p>Please select your Payment Method:</p>
        <input type="radio" id="age1" name="paymentMethod" value="30">
        <label for="age1">COD</label><br>
        <input type="radio" id="age2" name="paymentMethod" value="60">
        <label for="age2">UPI</label><br>  
        <input type="radio" id="age3" name="paymentMethod" value="100">
        <label for="age3">NetBanking</label><br>
        <input type="radio" id="age4" name="paymentMethod" value="60">
        <label for="age4">Credit Card/Debit Card</label><br>  
    
        <p id="error-message" style="color: red; display: none;">Please select a payment method.</p>
    
    </div>
    
    <script>
        function validateForm() {
            var paymentMethods = document.getElementsByName("paymentMethod");
            var isValid = false;
    
            for (var i = 0; i < paymentMethods.length; i++) {
                if (paymentMethods[i].checked) {
                    isValid = true;
                    break;
                }
            }
    
            if (!isValid) {
                document.getElementById("error-message").style.display = "block";
            } else {
                document.getElementById("error-message").style.display = "none";
                // You can submit the form or perform other actions here
                window.location.href = "/order";
            }
        }
        function goBack(){
            window.location.href="/cart";
        }
    </script>
    <div class="shippingaddress">
        <div class="your_address">
            <div class="myaddress">
               <i>your address</i>
            </div>
            <div class="area">
                <b>Address:</b>{{user_deets[0][0]}}
            </div>
            <div class="pincodeandcity">
                <div class="pincode">
                    <b>pincode:</b>{{user_deets[0][1]}}
                </div>
                <div class="city">
                    <b>City:</b>{{user_deets[0][2]}}
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="checkoutbuttons">
        <div class="back"><button onclick="goBack()">Back</button></div>
        <div class="buy"><button onclick="validateForm()">Checkout</button></div>
    </div>


</body>
</html>
 {% endblock %}