{% extends "base.html" %} 
{% block head%}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Museo">
<link rel="stylesheet" href="../static/style/checkout.css">{% endblock %}
{% block title %}Mail{% endblock %} 

{% block content %}       
    <div class="CHECKOUT_TAB">
        <div class="checkedoutitems">
            {% for product in products %}
            <div class="product">
                <div class="prodshit">
                    <a>Product Name: {{product[3]}}<a><br>
                    <a>Quantity of product: {{product[1]}}</a><br>
                    <a>Price: {{product[2]}}</a>
                    <br>
                </div>
                <div>
                       <img src="{{product[4]}}" alt="{{product[3]}}" style="height: 250px;">
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
    <div class="gridhaha">

  
    <div class="methodofpayment">
        <p>Please select your Payment Method:</p>
        <input type="radio" id="age1" name="age" value="30">
        <label for="age1">COD</label><br>
        <input type="radio" id="age2" name="age" value="60">
        <label for="age2">UPI</label><br>  
        <input type="radio" id="age3" name="age" value="100">
        <label for="age3">NetBanking</label><br>
        <input type="radio" id="age2" name="age" value="60">
        <label for="age2">Credit Card/Debit Card</label><br>  

    </div>
    <div class="shippingaddress">
        <div class="your_address">
            <div class="myaddress">
               <i>your address</i>
            </div>
            <div class="area">
                <b>Area:</b>255 Vijay Shankar Nagar,opposite VBA hall
            </div>
            <div class="pincodeandcity">
                <div class="pincode">
                    <b>pincode:</b>440010
                </div>
                <div class="city">
                    <b>City:</b>Nagpur
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="checkoutbuttons">
        <div class="back"><button><a href="/cart">Back</a></button></div>
        <div class="buy"><button><a href="/thankyou">Checkout</a></button></div>
    </div>

{% endblock %}