<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/navbar.css">

</head>

<body>
    <header>
        <div id="shopaholic">
            <h1>SHOP-A-HOLIC</h1>
        </div>
        <div id="navshit">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/sell">Sell</a></li>

                </ul>

        </div>


        </nav>
        <div id="loginbutton">
            <button><a href="/login">LOGIN</a></button>
        </div>

    </header>

    <!-- <div class="search-bar">
        <input type="text" placeholder="What do you want to buy?">
        <button>Search</button>
    </div> -->


    <div class="CAROUSAL">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/images/home_footwear.jpg" style="height: 400px; " class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Footwear</h5>
                        <p>Step up your style with our trendy and comfortable footwear collection.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/images/valeriia-miller-qYBby-YHV4U-unsplash.jpg" style="height: 400px; " class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/images/home_cosmetics.jpg" style="height: 400px; " class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Cosmetics</h5>
                        <p>Discover your beauty with our exquisite range of cosmetics.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
<div class="DEALS">
    <h1>Now Or Never Deals</h1>
    <div class="fashiondeals">
        <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>
        </div>        
        <div class="fashiondeal">
            <img src="../static/images/cosmetics.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Cosmetics</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>
        </div>  
              
        <div class="fashiondeal">
            <img src="../static/images/footwear.webp" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Footwear</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>        
        <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>        
        <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>       
         <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>

    </div>
</div>

    <div class="ABOUT_US">
        <div class="about_us_heading">
            <h2>ABOUT US</h2>
        </div>
        <div class="about_us_text">This is our DBMS Project. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Distinctio quas velit magni facere in adipisci qui consequatur voluptas quisquam quasi ea animi, corporis
            tempora explicabo aliquam, commodi quae facilis?</div>
        <div class="about_us_pics">
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Riddhi Chandekar
            </div>
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Atharva Nanoti
            </div>
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Shaurya Khetarpal
            </div>
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Suhana Shaik
            </div>
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Saket Meshram
            </div>
        </div>
    </div>



    <div class="CONTACT_US">
        <div class="contact_us_heading">
            <h2>CONTACT US</h2>
        </div>
        <form action="" class="contact_us_form">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Gmail">
            <textarea type="text" placeholder="Message" rows="4" cols="40"></textarea>
            <button>Send Message</button>


        </form>
    </div>


    <div class="FOOTER">
        <div class="footer_links">

            <ul>
                <li><a href="">Sell</a></li>
                <li class="line">|</li>
                <li><a href="">Privacy</a></li>
                <li class="line">|</li>
                <li><a href="">Account</a></li>
                <li class="line">|</li>
                <li><a href="">Terms & Conditions</a></li>

            </ul>
        </div>
        <hr>
        <div class="footer_rights">@2023 | All rights reserved</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>