<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style/home.css">
    

</head>

<body>
    <header>
        <div class="shopaholic">
            <h2>SHOP-A-HOLIC</h2>
        </div>
        <nav class="navigation">
                <a href="/home" class="active">Home<span></span></a>
                <a href="/products">Products<span></span></a>
                <a href="/cart">Cart<span></span></a>
                <a href="/account">Account<span></span></a>
                <a href="/sell">Sell<span></span></a>
        </nav>
        <div>

            <!-- {%if logged_in %} -->
            <div id="loginbutton">
                {%if status=="NO"%}
                    <button><a href="/">LOGIN</a></button>
                {%else%}
                    <button><a href="/logout">LOGOUT</a></button>
            {%endif%}
            </div>
            <!-- {%else%}
            <div id="loginbutton">
                <button><a href="/">LOGIN</a></button>
            </div> -->
        </div>
        <!-- {%endif%} -->
    </header>
        <!-- {% if logged_in %}
        <div class="alert alert-success">{{ message }}</div>
        {% endif %} -->

        <section class="parallax">
            <h2 class="text" id="text1">Fashion, Beauty, Home – All in One Place</h2><br>
            <h2 class="text" id="text2">Explore Our New and Latest Collection</h2>
        </section>

<div class="DEALS">
    <h1>Now Or Never Deals</h1>
    <div class="fashiondeals">
        <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>
        </div>        
        <div class="fashiondeal">
            <img src="../static/images/cosmetics.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Cosmetics</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>
        </div>  
              
        <div class="fashiondeal">
            <img src="../static/images/footwear.webp" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Footwear</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>        
        <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>        
        <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>       
         <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>

    </div>
</div>

<section class="product-category">
    <h2 class="category-title">Categories</h2>
    <div class="category-items">
        <div class="category-item">
            <img src="../static/images/womenfashion.jpeg" alt="womens fashion">
            <h3>Women's Fashion</h3>
            <a>View Details</a>
        </div>
        <div class="category-item">
            <img src="../static/images/menfashion.jpeg" alt="mens fashion">
            <h3>Men's Fashion</h3>
            <a>View Details</a>
        </div>
        <div class="category-item">
            <img src="../static/images/gadgetsandelectronics.jpeg" alt="electronics">
            <h3>Electronics</h3>
            <a>View Details</a>
        </div>
        <div class="category-item">
            <img src="../static/images/cosmetics.jpeg" alt="cosmetics">
            <h3>Cosmetics</h3>
            <a>View Details</a>
        </div>
        <div class="category-item">
            <img src="../static/images/sports.jpeg" alt="sports">
            <h3>Sports</h3>
            <a>View Details</a>
        </div>
        <div class="category-item">
            <img src="../static/images/books.jpeg" alt="books">
            <h3>Books</h3>
            <a>View Details</a>
        </div>
    </div>
</section>

    <div class="ABOUT_US">
        <div class="about_us_heading">
            <h2>Introducing the Shop-A-Holic Team</h2>
        </div>
        <div class="about_us_pics">
            <div class="about_us_pic">
                <img src="../static/images/riddhi.jpg" alt=""> <br> <br>
                Riddhi Chandekar
            </div>
            <div class="about_us_pic">
                <img src="../static/images/nano.jpg" alt=""> <br> <br>
                Atharva Nanoti
            </div>
            <div class="about_us_pic">
                <img src="../static/images/shaurya.jpg" alt=""> <br> <br>
                Shaurya Khetarpal
            </div>
            <div class="about_us_pic">
                <img src="../static/images/suhana.jpg" alt=""> <br> <br>
                Suhana Shaik
            </div>
            <div class="about_us_pic">
                <img src="../static/images/saki.jpg" alt=""> <br> <br>
                Saket Meshram
            </div>
        </div>
    </div>



    <div class="CONTACT_US">
        <div class="contact_us_heading">
            <h2>CONTACT US</h2>
        </div>
        <form action="" class="contact_us_form">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Gmail">
            <textarea type="text" placeholder="Message" rows="4" cols="40"></textarea>
            <button>Send Message</button>


        </form>
    </div>


    <div class="FOOTER">
        <div class="footer_links">

            <ul>
                <li><a href="">Sell</a></li>
                <li class="line">|</li>
                <li><a href="">Privacy</a></li>
                <li class="line">|</li>
                <li><a href="">Account</a></li>
                <li class="line">|</li>
                <li><a href="">Terms & Conditions</a></li>

            </ul>
        </div>
        <hr>
        <div class="footer_rights">@2023 | All rights reserved</div>
    </div>
    <script src="../static/scripts/home.js"></script>

</body>

</html>