
{% extends "base.html" %} 
{% block head%}
<link rel="stylesheet" href="../static/style/home2.css">{% endblock %}
{% block title %}Home{% endblock %} 

{% block content %}

<div class="hero">
    <div class="centered-text">
        <h2 class="text" id="text1">Fashion, Beauty, Home – All in One Place</h2><br>
        <h2 class="text" id="text2">Explore Our New and Latest Collection</h2>
        <!-- HTML !-->
<button class="button-57" role="button"><span class="text">EXPLORE</span><span>SHOP NOW</span></button>


    </div>
</div>
<div class="DEALS">
    <div class="text">

        Now Or Never Deals
    </div>
    <div class="fashiondeals">
        <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>
        </div>        
        <div class="fashiondeal">
            <img src="../static/images/cosmetics.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Cosmetics</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>
        </div>  
              
        <div class="fashiondeal">
            <img src="../static/images/footwear.webp" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Footwear</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>        
        <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>        
        <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>       
         <div class="fashiondeal">
            <img src="../static/images/watch.jpg" style="height: 300px; " alt="">
            <div class="fashiondealtext">
                <div class="fashiondealname"><h2>Watches</h2></div>
                <div class="fashionper">50% OFF</div>
            </div>

        </div>

    </div>
</div>

    <div class="ABOUT_US">
        <div class="about_us_heading">
            <h2>ABOUT US</h2>
        </div>
        <div class="about_us_text">This is our DBMS Project. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Distinctio quas velit magni facere in adipisci qui consequatur voluptas quisquam quasi ea animi, corporis
            tempora explicabo aliquam, commodi quae facilis?</div>
        <div class="about_us_pics">
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Riddhi Chandekar
            </div>
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Atharva Nanoti
            </div>
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Shaurya Khetarpal
            </div>
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Suhana Shaik
            </div>
            <div class="about_us_pic">
                <img src="../static/images/image 2.png " alt="">
                Saket Meshram
            </div>
        </div>
    </div>



    <div class="CONTACT_US">
        <div class="contact_us_heading">
            <h2>CONTACT US</h2>
        </div>
        <form action="" class="contact_us_form">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Gmail">
            <textarea type="text" placeholder="Message" rows="4" cols="40"></textarea>
            <button>Send Message</button>


        </form>
    </div>

{% endblock %}