
{% extends "base.html" %} 
{% block head%}
<link rel="stylesheet" href="../static/style/products.css">{% endblock %}
{% block title %}Products{% endblock %} 

{% block content %}

{% if message is defined and message %}
<div class="alert alert-success">{{ message }}</div>
{% endif %}
<div class="CATEGORIES">
    <div class="category">
        <div class="category_img">
            <img src="../static/images/womenfashion.jpeg" alt="" style="height: 170px;">
        </div>
        <div class="category_name">Women's Fashion</div>
    </div>
    <div class="category">
        <div class="category_img">
            <img src="../static/images/menfashion.jpeg" alt="" style="height: 170px;">
        </div>
        <div class="category_name">Men's Fashion</div>
    </div>        
    <div class="category">
        <div class="category_img">
            <img src="../static/images/gadgetsandelectronics.jpeg" alt="" style="height: 170px;">
        </div>
        <div class="category_name">Electronics</div>
    </div>        
    <div class="category">
        <div class="category_img">
            <img src="../static/images/cosmetics.jpeg" alt="" style="height: 170px;">
        </div>
        <div class="category_name">Cosmetics</div>
    </div>        
    <div class="category">
        <div class="category_img">
            <img src="../static/images/sports.jpeg" alt="" style="height: 170px;">
        </div>
        <div class="category_name">Sports</div>
    </div>        
    <div class="category">
        <div class="category_img">
            <img src="../static/images/books.jpeg" alt="" style="height: 170px;">
        </div>
        <div class="category_name">Books</div>
    </div>        
    <div class="category">
            <div class="category_img">
                <img src="../static/images/womenfashion.jpeg" alt="" style="height: 170px;">
            </div>
            <div class="category_name">Women's Fashion</div>
        </div>                  
    </div>
    <form action="/categories", method="post">
        <div>
        <label for="Category"> Product Category:</label>
            <select id="options" name="category">
                <option value="All">All</option>
                <option value="Women's Fashion">Women's Fashion</option>
                <option value="Men's Fashion">Men's Fashion</option>
                <option value="Sports">Sports</option>
                <option value="Electronics">Electronics</option>
                <option value="Books">Books</option>
                <option value="Miscelleneous">Miscelleneous</option>
            </select>
            <input type="submit" value="Submit">
        </div> 
    </form>  
    <div class="all_products">
          

        
        
        {% if category=="All"%}
        {% for product in products %}
        <div class="an_product">
            <div class="product_image">
                   <img src="{{product[3]}}" alt="{{product[4]}}" style="height: 250px;">
               </div>
               <div class="product_name"><h3>{{product[4]}}</h3></div>
               <div class="product_description">{{product[2]}}</div>
               <div class="product_price">Rs. {{product[1]}}</div>
               <form method="POST" action="/add_to_cart">
                   <input type="hidden" name="product_id" value="{{ product[0] }}"> <!-- Use the actual product ID here -->
                   <button type="submit">Add to Cart</button>
                   <br>
                   <br>
                </form>
                
                {% if already_added[product[0]] %}
                <p>Product added to your wishlist!</p>
                {% else %}
                <form action="{{ url_for('add_to_wishlist', ProductId=product[0]) }}" method="POST">
                    <button type="submit">Add to Wishlist</button>
                </form>
                {% endif %}
                   
        </div> 
        {% endfor %}           
        {%else%}
        {% for product in products %}
        {%if product[5]==category%}
        <div class="an_product">
            <div class="product_image">
                   <img src="{{product[3]}}" alt="{{product[4]}}" style="height: 250px;">
               </div>
               <div class="product_name"><h3>{{product[4]}}</h3></div>
               <div class="product_description">{{product[2]}}</div>
               <div class="product_price">Rs. {{product[1]}}</div>
               <form method="POST" action="/add_to_cart">
                   <input type="hidden" name="product_id" value="{{ product[0] }}"> <!-- Use the actual product ID here -->
                   <button type="submit">Add to Cart</button>
                   <br>
                   <br>
                </form>
                
                {% if already_added[product[0]] %}
                <p>Product added to your wishlist!</p>
                {% else %}
                <form action="{{ url_for('add_to_wishlist', ProductId=product[0]) }}" method="POST">
                    <button type="submit">Add to Wishlist</button>
                </form>
                {% endif %}
                
            </div>
            {%endif%}
            {% endfor %}
        
        {%endif%}        
            
            <!-- {% if already_added %}
                <p>Product added to your wishlist!</p>
                {% endif %} -->
       
    </div>
{% endblock %}

