
{% extends "base.html" %} 
{% block head%}
<link rel="stylesheet" href="../static/style/sell.css">{% endblock %}
{% block title %}Mail{% endblock %} 

{% block content %}
<div class="hero">
    <div class="centered-text">
        <!-- <h2 class="text" id="text1">Fashion, Beauty, Home – All in One Place</h2><br> -->
        <h2 class="text" id="text2">My Account</h2>
        <!-- HTML !-->
        <!-- <button class="button-57" role="button"><span class="text">EXPLORE</span><span>SHOP NOW</span></button> -->


    </div>
</div>

    <form action="/add_product" method="post"id="form1" enctype="multipart/form-data">
        <section class="info">
            <div>
                <div class="detailheading">
                    <a>Add details</a>
                </div>

                <label for="Title"></label>
                <input class="detailinput" type="text" name="Title" placeholder="product name" required>  
    
                <label for="description"></label>
                <textarea class="detailinputdesc" rows="4" columns="50" name="description"placeholder="product description" required ></textarea>

            </div>
            <div>
                <div class="detailheading" >
                    <a>Set a price </a>
                </div>

                <label for="price"></label>
                <input class="detailinput" type="number" min="0" name="price" placeholder="product price" required>

            </div>
            <div>
                <div class="detailheading" required>Upload photos</div>
                <div class="allimg">
                <label for="img1" class="img"></label>
                <input id="img1" type="file" name="image" required accept=".png, .jpg, .jpeg"/>
                <!-- for simplicity only one img 
                <label for="img2" class="img"></label>
                <input id="img2" type="file" accept=".png, .jpg, .jpeg"/ >
                <label for="img3" class="img"></label>
                <input id="img3" type="file" accept=".png, .jpg, .jpeg"/ >
                </div>-->
            </div>



            <!--<div>
                <div class="detailheading">Your location</div>
                <label for="location"></label>
                <input class="detailinput" type="text" name="location" required>
            </div>
        -->




        </section>
        <div class="sellbuttons">
            <div id="postnow">
                <button type="submit" form="form1" value="Posted">Post now</button>
            </div>
        </div>
    </form>

{% endblock %}
