{% extends "base.html" %}
{% block head%}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Museo">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
<link rel="stylesheet" href="../static/style/signup.css">
{% endblock %}
{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="container">
    <h1>Sign Up</h1>
    <form action="/add_user" method="post">
        <label for="email">Email ID:</label>
        <input type="email" id="email" name="email_reg" required>
        
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>

        <label for="gender">Gender (M/F):</label>
        <input type="text" maxlength="1" id="gender" pattern="M|F" name="gender" required>

        <label for="phone">Phone Number:</label>
        <input type="number" id="phone" name="phone_reg" required>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password_reg" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="text" id="confirmPassword" name="confirmPassword" required>

        <label for="role">Select Role:</label>
        <select id="role" name="role" required>
            <option value="seller">Seller</option>
            <option value="buyer">Buyer</option>
        </select>

        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/">Login</a></p>
    </div>
{% endblock %}